var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#commments').prepend(new_comment);
$('#comment <%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();